# Sublime
*.sublime-*

# OS X
.DS_Store

# IntelliJ
*.iml
.idea
.project

# Test Reports
test/report-coverage

*node_modules*
*.tern-port
*.log
.tern-project
.tags

# Speculate
SPECS
SOURCES
*.service

lib
.zconfig.json
